argparse
hbmqtt
#async-timeout
#aiohttp
attrs>=17.3.0
chardet>=2.0,<4.0
#multidict>=4.5,<5.0
multidict==4.5.2
async_timeout>=3.0,<4.0
#yarl>=1.0,<2.0
yarl==1.2.6
idna-ssl>=1.0; python_version<"3.7"
typing_extensions>=3.6.5; python_version<"3.7"
